:root{
    --blue: rgba(27, 179, 255, 0);
}

.light{
    --bg: url('image/wallpapers-glow.jpg');
    --same:#fff;
    --bgcl: #afb5b8;
    --text: #000;
    --taskcl: rgb(216, 229, 246);;
    --hovcolor:rgba(255, 255, 255, 0.57);
    --navbg: rgba(255, 255, 255, 0.57);
    --navbott: rgba(231, 245, 255, 0.514);
    --navbtn: rgb(243, 243, 243);
    --gray: #d5d5d5;
    --lightGray: #555555;
    --inputbg: #fff;
    --activeBtn: rgb(18, 103, 193);
    --activeBtnHover: rgb(0, 67, 139);
    --disabledBtn : #9e9c9c;
    --disabledBorder: #a0a0a0;
}
.dark{
    --same:#000;
    --bgcl: #000;
    --text: #fff;
    --taskcl:rgb(33 32 32 / 93%);
    --hovcolor: rgba(79, 78, 78, 0.384);
    --navbg: rgba(32, 32, 32, 0.8);
    --navbott: rgb(42, 42, 42);
    --navbtn: rgba(25, 25, 26, 0.96);
    --gray: #353535;
    --inputbg: #2a2a2a;
    --lightGray: #c0c0c0;
    --activeBtn: rgb(62, 203, 250);
    --activeBtnHover: rgb(125, 229, 255);
    --disabledBtn : #404040;
    --disabledBorder: #313030;
}

*{
    margin: 0px;
    padding: 0px;
    cursor:default;
    /* border: 1px solid black; */
}

body{
    background: var(--bg);
    background-color: var(--bgcl);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text);
    font-size: 12px;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 510;
}

/* Modal Dialog Box */
#myModal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 900;
    transition: all 0.3s ease-in-out;
}
.modal-content {
    background-color: var(--gray);
    color: var(--text);
    padding: 15px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#fullscreen-button{
    background-color: rgb(125, 229, 255);
    color: var(--same);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}
#fullscreen-button:hover{
    background-color: #3fa9cd;
}
#close-modal-button{
    border: none;
    padding: 4px 5px;
    background: transparent;
    color: var(--text);
    position: relative;
    left: 140px;
    top: -10px;
}
#close-modal-button:hover, .bi-x-lg:hover{
    background-color: var(--hovcolor);
    cursor: pointer;
}


[title]:hover::after{
    border-radius: 8px;
}

button:disabled, button[disabled]{
    color: var(--disabledBtn);
    border-color: var(--disabledBorder);
}
button[disabled]:hover{
    background-color: var(--navbtn);
}

.video{
    object-fit: cover;
    width: 100vw;
    height: calc(100% - 46px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.show{
    display: block;
    }

.desktop{
    display: grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(8,86px);
    grid-auto-flow: column;
}

.desk-icon-div{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 4px;
}
.desk-icon-div:hover{
    background-color: var(--hovcolor);
}

.desk-icon{
    width: 40px;
}

.icon-text{
    text-align: center;
    font-weight: normal;
    text-overflow: ellipsis;
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 2px black;
}

.taskbar{
    background-color:var(--taskcl);
    display: grid;
    grid-template-columns: 150px auto 200px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 3;
    height: 45px;
    padding: 0px 2px 2px 2px;
    justify-items: center;
    align-items: center;
}

.weather{
    display: inline-flex;
    width:90px;
    align-items: center;
    padding-right: 40px;
    border-radius: 3px;
    z-index: 4;
    margin: 2px 0px;
}
.weather:hover{
    background-color: var(--hovcolor);
}
.weather-txt{
    font-size: 9px;
    opacity: 0.5;
}
.weather-icon{
    width: 30px;
    padding: 3px;
}

#start-btn:active{
    transform: scale(0.8);
}

.task-icon{
    display: inline-flex;
    position: absolute;
    justify-content: center;   
}
.task-icon-item{
    height: auto;
    width: 30px;
    padding: 5px 0.5em;
    border-radius: 4px;
}
.task-icon-item:hover{
    background-color: var(--hovcolor);
}

.task-icon-active{
    background-color: var(--hovcolor);
}

.taskbar-tools{
    position: absolute;
    right: 10px;
    display: flex;
}
.sett{
    margin-top: 2px;
    padding: 7px 5px;
    border-radius: 4px;
    height: 27px;
}
.sett:hover{
    background-color:var(--hovcolor);
}

.tools-icon{
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
    padding: 6px 2px 4px 2px;
}

.time{
    border-radius: 4px;
    padding: 0px 6px;
    margin: 2px;
}
.time:hover{
    background-color: var(--hovcolor);
}
.dnt{
    font-size: 13px;
    margin: 2px;
    text-align: end;
}

.start-box{
    background: var(--navbg) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    backdrop-filter: blur(30px);
    width: 590px;
    height: 650px;
    position: absolute;
    z-index: 3;
    bottom: -700px;
    left:50%;
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
    transform: translate(-50%,-0%);
}
.active-start{
    opacity: 1;
    bottom: 8.5vh;
}
.search{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 2px 2px 2px;
}
.searchbar{
    width: 93%;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--navbtn);
    color: var(--text);
    border-color: var(--same);
    background-image: url('image/search-light.png');
    background-size: 18px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  cursor: initial;
  outline: none;
}
.searchbar:focus-visible{
    outline: none;
}

.start-frame{
    position: relative;
    transition: all 0.4s ease-in-out;
}

.start-item-title{
    display: flex;
    height: 20px;
    margin: 2px 5px 2px 5px;
    padding: 10px 5px 10px 5px;
}

.start-item{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6,90px);
    grid-template-rows: repeat(3,78px);
    grid-row-gap: 0px;
    justify-items: center;  
    position: relative;
    left: 13px;
    
}
.start-icon{
    height: auto;
    width: 38px;
}
.start-icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 95%;
    text-align: center;
    font-weight: 400;
}

.start-icon-div:hover{
    background-color:var(--hovcolor);
}

.pinned{
    position: absolute;
    left: 50px;
    padding: 5px;
    margin: 2px;
    font-weight: 600;
    font-size: 14px;
}
.start-all-apps{
    position: absolute;
    right: 50px;
    padding: 6px;
    margin: 4px;
    color: var(--text);
    background-color: var(--navbtn);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgb(174, 174, 174);
    font-size: 12px;
    font-family: inherit;
}
.start-all-apps:hover{
    background-color: var(--hovcolor);
}

.all-apps{
    position: absolute;
    top: 11vh;
    width: 590px;
    transition: all 0.4s ease-in-out;
    transform: translate(100%,-0%);
}

.all-apps-list{
    padding: 2vh 4vw;
    width: 85%;
    height: 430px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.all-apps-list::-webkit-scrollbar {
    display: none;
  }
  

.all-apps-list-icon{
    height: 4vh;
    margin: 0px 15px 0px 10px;
}
.start-list-item.start-list-alphabet{
    padding-left: 15px;
    font-size: larger;
}

.start-list-item{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    padding: 4px 0px;
    border-radius: 4px;
}
.start-list-item:hover{
    background-color: var(--hovcolor);
}

.rec-div{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 2px;
    font-weight: initial;
    font-size: 12px;
}
.rec-title{
    display: flex;
    height: 20px;
    margin: 2px 5px 0px 5px;
    padding: 10px 5px 5px 5px;
}
.rec-list{
    list-style: none;
    padding: 5px 20px;
    width: 240px;
}
.rec-icon{
    height: auto;
    width: 32px;
    padding-right: 10px;
}
.rec-txt{
    font-size: 12px;
    opacity: 0.7;
}
.rec-item{
    display: flex;
    align-items: center;
    width: 200px;
    padding: 4px 8px;
    margin: 2px 0px 2px 34px;
    border: 0px solid;
    border-radius: 4px;
}
.rec-item:hover{
    background-color: var(--hovcolor);
}
.start-bottom{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--navbott);
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    position: sticky;
    bottom: 0px;
}
.user-btn{
    background: transparent;
    border: none;
    color: var(--text);
    display: flex;
    align-items: center;
    padding: 3px 8px;
    border-radius: 4px;
}
.profile{
    margin: 5px 20px 5px 50px;
}
.user-btn img{
    height: auto;
    width: 35px;
}
.user-btn:hover{
    background-color:var(--hovcolor);
}
.power-btn{
    background: transparent;
    color: var(--text);
    border: none;
    margin: 0px 55px 0px 0px;
    padding: 8px 10px;
    border-radius: 4px;
}
.bi-power{
    font-size: 20px;
}
.power-btn:hover{
    background-color: var(--hovcolor);
}

/* Navigation Pannel Bottom */

.sett-nav{
    background-color:var(--navbg);
    backdrop-filter: blur(40px);
    display: flex;
    width: 370px;
    position: absolute;
    right: 1em;
    bottom: -400px;
    flex-direction: column;
    align-items: center;
    height: 380px;
    justify-content: space-between;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease-in;
}
.active-nav{
    bottom: 7.5vh;
    opacity: 1;
}

.nav-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 15px;
    grid-column-gap: 12px;
    grid-row-gap: 23px;
    padding: 7px 10px;
    position: relative;
    left: 0;
    transition: all 0.2s ease-in-out;
}
.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.material-symbols-outlined{
    font-size: 17px;
    width: 16px;
}

.wifi-bt-mor{
    background-color:var(--navbtn);
    border: 1px solid #565656b0;
    border-radius: 0px 5px 5px 0px;
    color: var(--text);
    padding: 10px;
    font-size: 14px;
    margin-right: -4px;
    height: 50px;
    width: 50px;
}
.wifi-btn{
    background-color: var(--navbtn);
    border: 1px solid #565656b0;
    border-radius: 5px 0px 0px 5px;
    color: var(--text);
    padding: 10px;
    font-size: 14px;
    margin-right: -4px;
    height: 50px;
    width: 50px;
}
.bt-btn{
    background-color: var(--navbtn);
    border: 1px solid #565656b0;
    border-radius: 5px 0px 0px 5px;
    color: var(--text);
    padding: 10px;
    font-size: 15px;
    margin-right: -1px;
    width: 50px;
}
.nav-icon-div{
    background-color: var(--navbtn);
    border: 1px solid #565656b0;
    border-radius: 5px;
    color: var(--text);
    padding: 10px;
    font-size: 14px;
    width: 100px;
    height: 50px; 
    margin: 0px 0px 5px 0px;  
}
.bi-airplane::before{
    transform: rotate(90deg);
}

.slider{
    width: 90%;
    padding: 5px;
    margin: 2px;
    position: relative;
    left: 0;
    transition: all 0.2s ease-in-out;
}
.slide-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}
input[type=range].range {
    width: 80%;
    background: transparent;
    -webkit-appearance: none;
  }
  
  /*progress support*/
  input[type=range].range.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
  }
  
  input[type=range].range:focus {
    outline: none;
  }
  
  /*webkit*/
  input[type=range].range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    color: var(--activeBtn);
    border: 5px solid var(--activeBtn);
    box-shadow: 0 0 0 4px var(--gray);
    margin-top: -3px;
    transition: all 0.1s ease-in-out;
  }
  
  input[type=range].range::-webkit-slider-runnable-track {
    height: 6px;
    border: none;
    border-radius: 10px;
    background: #EFEFEF;
    box-shadow: none;
  }
  
  input[type=range].range::-webkit-slider-thumb:hover {
    background: #41BAD1;
    border: 7px solid var(--activeBtn);
    box-shadow: 0 0 0 2px var(--gray);
    transition: all 0.1s ease-in-out;
  }
  
  input[type=range].range.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(var(--activeBtn),var(--activeBtn)) 0/var(--sx) 100% no-repeat, #EFEFEF;
  }

  /* Mozila */
  input[type=range].range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background: var(--activeBtn);
    border: 5px solid var(--gray);
    transition: all 0.2s ease-in-out;
  }
  
  input[type=range].range::-moz-range-track {
    height: 5px;
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
  }
  
  input[type=range].range::-moz-range-thumb:hover {
    background: var(--activeBtn);
    width: 13px;
    height: 13px;
    border: 3px solid var(--gray);
    transition: all 0.3s ease-in-out;
  }
  
  input[type=range].range.slider-progress::-moz-range-track {
    background: linear-gradient(var(--activeBtn),var(--activeBtn)) 0/var(--sx) 100% no-repeat, #EFEFEF;
  }

.nav-icon-div:hover , .wifi-bt-mor:hover, .wifi-btn:hover, .bt-btn:hover{
    background-color: var(--hovcolor);
}
.active-btn{
    background-color: var(--activeBtn);
    color: var(--same);
    border: none;
}
.active-btn:hover{
    background-color: var(--activeBtnHover);
}

.hide-nav-grid{
    left: 400px;
}

.wifi-menu{
    position: absolute;
    width: 100%;
    right: 0;
    /* z-index: 4; */
    transition: all 0.2s ease-in-out;
}
.wifi-menu-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}
.back-wifi{
    display: flex;
    align-items: center;
}
#wifi-toggle-btn, #bt-toggle-btn{
    opacity: 0;
    width: 0;
    height: 0;
}
.wifi-list, .bt-list{
    display: none;
}
.wifi-off-disp , .bt-off-disp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 25px;
    height: 250px;
}
.wifi-list-item{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 8px 5px;
    margin: 2px 5px;
    border-radius: 6px;
}
.wifi-list-icon{
    margin-right: 5px;
    padding: 2px;
    font-size: 20px;
}
.wifi-list-item:hover{
    background-color: var(--hovcolor);
}
.hide-wifi-menu{
    right: 400px;
}

.bt-menu{
    position: absolute;
    width: 100%;
    right: 0;
    transition: all 0.2s ease-in-out;
}
.bt-menu-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}
.back-bt{
    display: flex;
    align-items: center;
}
.bt-devices{
    font-weight: bolder;
    padding: 5px 10px;
}
.hide-bt-menu{
    right: 400px;

}
.bi-arrow-left-short{
    background: transparent;
    border: none;
    color: var(--text);
    padding: 0px 3px;
    border-radius: 4px;
    margin-right: 3px;
}
.bi-arrow-left-short:hover{
    background-color: var(--hovcolor);
}
.toggle-switch-wraper{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
}
.toggle-switch{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: transparent;
    border: 1px solid var(--lightGray);
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle-switch::before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 2px;
    border-radius: 50%;
    background-color: var(--lightGray);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .toggle-switch {
    background-color: var(--activeBtn);
    border: 1px solid transparent;
  }
  
  input:focus + .toggle-switch {
    box-shadow: 0 0 1px var(--activeBtnHover);
  }
  
  input:checked + .toggle-switch:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
    background-color: var(--same);
  }

.nav-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--navbott);
    height: 40px;
    align-items: center;
    padding: 4px 0px;
    border-radius: 0 0 8px 8px;
}
.nav-bottom-icon{
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.nav-bottom-icon:hover{
    background-color: var(--hovcolor);
}
.nav-batt{
    left: 5px;
    position: absolute;
}
.battery-level{
    font-weight: initial;
    font-size: 12px;
    margin-left: 3px;
}
.nav-edit{
    position: absolute;
    right: 5px;
}

/* Notification Panal Right */

.right-notification-calendar-panel{
    position: absolute;
    height: auto;
    width: 340px;
    z-index: 5;
    bottom: 6.5vh;
    right: -360px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 10px;
    opacity: 0;
    transition: all 0.25s ;
}
.active-noti-panel{
    opacity: 1;
    right: 0;
}

.notification-tab{
    background-color: var(--navbg);
    backdrop-filter: blur(50px);
    color: var(--text);
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}
.notification-head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}
.notification-snoze-btn{
    padding: 4px;
    background-color: var(--navbg);
    color: var(--text);
    border: none
}
.notification-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.calendar-tab{
    background-color: var(--navbg);
    backdrop-filter: blur(50px);
    color: var(--text);
    margin: 5px;
    border-radius: 6px;
    height: auto;
}
.calendar-head , .calendar-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    font-size: 14px;
}

.calendar-body{
    height: 320px;
    background-color: var(--navbott);
    transition: all 0.3s linear;
    overflow: hidden;
}
.calender-body-month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
}
.calender-month-btn{
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--text);
}
.calender-month-btn:hover{
    background-color: var(--hovcolor);
}
.calendar-body-weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 5px 0;
    font-weight: bold;
    justify-items: center;
    align-items: center;
}
.calender-body-dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin: 5px;
}
.date-cell{
    font-size: 14px;
    font-weight: 400;
    padding: 13px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-cell:hover{
    background-color: var(--hovcolor);
}

.today{
    background-color:var(--activeBtnHover);
    color: white;
}
.today:hover{
    background-color:var(--activeBtn);
}
.calendar-footer{
    border-top: 2px solid var(--gray);
    background-color: var(--navbott);
}
.focus-btn{
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--navbg);
    color: var(--text);
}

.active-calender{
    height: 0;
}

/* Left Widget Panel */

.left-weather-widget-panel{
    background-color: rgba(255, 255, 255, 0.714);
    height: 90%;
    width: 35vw;
    position: absolute;
    bottom: 50px;
    z-index: 5;
    color: #000000;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0px 15px;
    overflow-y: scroll;
    opacity: 1;
    display: block;
}
.widget-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.widget-body{
    display: flex;
}

/* Canvas Container Testing */

.canvas-container{
    height: auto;
    width: 500px;
    position: absolute;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background-color: var(--bgcl);
    backdrop-filter: blur(30px);
    z-index: 3;
    top: 20vh;
    left: 35vw;
    display: none;
    transition: all 0.3s ease-in-out;
}

#canvas-head{
    height: 25px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.canvas-close-btn{
    border: none;
    color: var(--text);
    padding: 5px;
    background: transparent;
}
.canvas-close-btn:hover{
    background-color: var(--navbtn);
}
.bi-x-lg{
    position: relative;
    right: 0;
}


#vid{
    width: 99%;
    height: 90%;
    object-fit: cover;
    border: 3px solid var(--gray);
    border-radius: 5px;
    position: relative;
    bottom: 0px;
    left: 0px;
}

#textArea{
    position: relative;
    left: 1px;
    max-width: 95%;
    min-height: 230px;
    /* border-radius: 5px; */
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--inputbg);
    color: var(--text);
    font-size: 16px;
    padding: 5px 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
#textArea::-webkit-scrollbar{
    display: none;
}

/* Pre-loader Screen */

.rotate-screen{
    background: #000 url(image/rotate-screen.gif) no-repeat center center;
    background-size: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 19;
    color: white;
    overflow: hidden;
    display: none;
    z-index: 9999;
}
.rotate-screen p{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 70%;
    z-index: 9999;
}

.pre-text{
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    
}
#preloader{
    background-color: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 20;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

@media (orientation : portrait) and (max-width:550px) {

    .rotate-screen{
        display: block;
    }

}